body
{
	color: white;
	font-family: 'Droid Serif', serif;
	background-image: url("../assets/crissxcross.png");
	overflow: hidden;
}

.weekbar
{
	height: 50px;
	padding: 10px;
	font-size: 60px;
	line-height: 50px;
	background-color: #261919;
}

#weeks
{
	position: absolute;
}

#weeks span
{
	margin-right: 70px;
}

.content
{
	text-align: center;
}

/*Loan amount and job*/
.info
{
	
}

/*Big question*/
.question
{
	
}

/*Progress bars and paying loans*/
.progress
{
	
}

@media only screen and (min-width: 36em)
{
	.info
	{
		width: 25%;
	}/* 7/12 */
	.question
	{
		width: 50%;
	}/* 5/12 */
	.progress
	{
		width: 25%;
	}
}
